<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%= for url <- @urls do %>
  <url>
    <loc><%= url.loc %></loc>
    <%= if Map.has_key?(url, :lastmod) && url.lastmod do %><lastmod><%= url.lastmod %></lastmod><% end %>
    <%= if Map.has_key?(url, :changefreq) do %><changefreq><%= url.changefreq %></changefreq><% end %>
    <%= if Map.has_key?(url, :priority) do %><priority><%= url.priority %></priority><% end %>
  </url>
<% end %>
</urlset>
